@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  "Roboto", sans-serif;
}

body{
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 500px;
    /* border: 1px solid black; */
    padding: 20px;
    box-sizing: border-box;
    
}


 .header{
    border-bottom: 1px solid #d4d3d3;
    padding-bottom: 20px;
 }
 .header .logo {
    color: #0f8ee1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom:30px;
}

.header .textarea{
    display: flex;
    /* border: 1px solid; */
    gap: 25px;
    align-items: center;
    padding: 20px 0;
    width: 100% ;
    margin-bottom: 30px;
    margin-left: 20px;
}

.header .textarea img{
    width:70px;
    border-radius: 50px;
     
}

.header .textarea textarea{
    border:  none;
    outline: none;
    resize: none;
    width: 50%;
    align-self: flex-end;
    font-size: 20px; 
   

}

.header .textarea textarea::placeholder{
    font-size: 20px;
    color: #757575;  
}

.header button{
    width: 100%;
    background-color: #0f8ee1;
    padding: 15px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
}

.main{
    margin-top: 20px;
   
}

.plain{
    width: 100%;
}

.main .interface {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #d4d3d3;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.main .interface img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}



.main .interface p {
    margin-bottom: 20px;
    /* font-size: 1.2rem; */
}

.main .interface .handle{
    color: #5a5959;
    font-size: 14px;
}

.main .interface .tweet{
    width: 100%;
    color: #272727;
}

.main .interface .plain .tweet-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;

}


.main .interface .plain .tweet_detail{
    display: flex;
    align-items: center;
    gap: 0.3rem;

} 

i{
    cursor: pointer;
}

/* .main .interface .plain{
    
} */
 .fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweet{
    color: green;
}

.hidden{
    display: none;
}


.comment .inner{
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    /*  border-bottom: 1px solid #d4d3d3; */
}

.comment .inner .handle{
    color: #5a5959;
    font-size: 14px;
    margin-bottom: 20px;
}

.comment .inner img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.comment.inner .plain {
    width: 50%;
}


.input{
   margin:  15px 0 20px 0;
    border-bottom: 1px solid #141414;
    width: 100%;
    padding: 10px 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.input textarea{
    border: none;
    outline:none ;
    resize: none;
    width: 70%;
    padding: -19px;
    font-size: 1.1rem;
}

.input textarea::placeholder {
    font-size: 1.2rem;
}

.input #btn {
   background-color: #0f8ee1;
   color: white;
   border: none;
   outline: none;
   padding:  10px 25px;
   margin-bottom: 10px;
   border-radius: 50px;
   cursor: pointer;
   font-weight: bold;
   font-size: 1rem;
}